* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.maxw {
  max-width: 860px;
  margin: 0 auto;
}

.header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

button {
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
}

button:hover {
  filter: brightness(0.8);
}
