/* Common Styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  max-width: 860px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav {
  display: none;
}

.nav ul {
  display: flex;
  gap: 2rem;
}

.nav ul a {
  font-weight: 500;
  font-size: 20px;
  gap: 2rem;
}

.open-menu-icon {
  cursor: pointer;
}

/* Media Query 2: Min-width 860px */
@media (min-width: 860px) {
  .nav {
    display: block;
  }

  .nav ul a {
    color: black;
  }

  .open-menu-icon {
    display: none;
  }
}
